<div class="list-group m-b">
  <a href="" class="list-group-item">
    <span class="pull-right text-muted m-l-xs"><i class="glyphicon glyphicon-chevron-right"></i></span>
    Front End
  </a>
  <a href="" class="list-group-item">
    <span class="pull-right text-muted m-l-xs"><i class="glyphicon glyphicon-chevron-right"></i></span>
    Backend
  </a>
  <a href="" class="list-group-item">
    <span class="pull-right text-muted m-l-xs"><i class="glyphicon glyphicon-chevron-right"></i></span>
    Mobile
  </a>
  <a href="" class="list-group-item">
    <span class="pull-right text-muted m-l-xs"><i class="glyphicon glyphicon-chevron-right"></i></span>
    Database
  </a>
  <a href="" class="list-group-item">
    <span class="pull-right text-muted m-l-xs"><i class="glyphicon glyphicon-chevron-right"></i></span>
    Legacy Systems
  </a>
  <a href="" class="list-group-item">
    <span class="pull-right text-muted m-l-xs"><i class="glyphicon glyphicon-chevron-right"></i></span>
    Drivers
  </a>
</div>
